html,
body {
    height: 100%;
}

/*.wrapper {*/
/*    overflow: hidden;*/
/*    max-width: 1440px;*/
/*    padding: 0 10px;*/
/*    margin: 0 auto;*/
/*}*/

.container {
    width: 1248px;
    border: 1px solid red;
}
 .container_block {
     background: #f4f6fd;
    border: 1px solid red;
}

.section{
    padding-top: 50px;
    width: 1440px;
    margin: 0 auto;
    
}
.image {
    width: 507px;
    height: 338px;
    border-radius: 32px;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.tab-buttons {
    display: flex;
    gap: 10px;
}

.tab {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.tab.active {
    background-color: #f00;
    color: #fff;
}

.tab-contents {
    margin-top: 10px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.trevels {
    display: flex;
}

.trevels_block{
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    width: 1137px;
    height: 422px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}

.trevels_text {

}
.trevels_button{
    width: 631px;
    height: 50px;
}

