html,
body {
    height: 100%;
}

.wrapper_container {
    max-width: 1240px;
    margin: 0 auto;
    border: 1px solid red;
}

.section{
    margin-top: 80px;
    border: 1px solid green;
}

/*header*/

.main__header {
    max-width: 1240px;
    height: 80px;
    border: 1px solid green;
    justify-content: center;
    display: flex;
}

.header__text{
    text-align: center;
}

/*travel*/

.container__travel {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.travel__title{
    /*font-family: var(--font-family);*/
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #000;
    margin-bottom: 24px;
}

.travel__description {
    /*font-family: var(--third-family);*/
    font-family: 'Manrope', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
}

.travel__button {
    border-radius: 12px;
    padding: 20px 24px;
    width: 366px;
    height: 64px;
    cursor: pointer;
    border: none;
}
.travel__button:hover {
    color: #fff;
    background: #0146fe;
}

/*language*/

.container__language {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.language__text{
    width: 681px;
    height: 134px;
    border: 1px solid red;
    margin-bottom: 20px;
}

.language__content{
    /*width: 1240px;*/
    /*height: 422px;*/
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 768px) {
    .language__content {
        /*width: 100%;*/
        /*height: auto;*/
        flex-direction: column;
    }
}

/*.language__title{*/
/*    !*font-family: var(--font-family);*!*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: 900;*/
/*    font-size: 60px;*/
/*    line-height: 100%;*/
/*    letter-spacing: -0.05em;*/
/*    text-align: center;*/
/*    color: #000;*/
/*    margin-top: 24px;*/
/*}*/

/*.language__description {*/
/*    !*font-family: var(--third-family);*!*/
/*    font-family: 'Manrope', sans-serif ;*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    line-height: 140%;*/
/*    letter-spacing: -0.01em;*/
/*    text-align: center;*/
/*    color: rgba(42, 43, 47, 0.9);*/
/*    margin-top: 12px;*/
/*}*/


/*общие language*/
.language__translation{
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    width: 400px;
    height: 422px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language__title{
    /*font-family: var(--font-family);*/
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #000;
    margin-top: 24px;
}

.language__description{
    /*font-family: var(--font-family);*/
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 12px;
}

.language__image{
    width: 309px;
    height: 129px;
    object-fit: contain;
    margin-top: 12px;
}

/*product*/

.image {
    width: 507px;
    height: 338px;
    border-radius: 32px;
    object-fit: cover;

}


/*ligvanex*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}





.trevels_block{
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    width: 1137px;
    height: 422px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    display: flex;
}

.trevels_text {

}
.trevels_button{
    width: 631px;
    height: 50px;
}

.trev_button {
  cursor: pointer;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    width: 167px;
    height: 50px;
    text-align: center;
}

.trev_button:hover {
    /*background-color: blue;*/
    color: #fff;
    background: #0146fe;
}
.request {
    display: flex;
    justify-content: center;
}
.request_button {
    border-radius: 12px;
    padding: 20px 24px;
    width: 366px;
    height: 64px;
    border: none;
}

.request_button:hover {
    color: #fff;
    background: #0146fe;
    align-items: center;
    justify-content: center;

}

.how_title {

    /*font-family: var(--font-family);*/
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #000;
}



.main__footer {
    margin-top: 80px;
    height: 526px;
    border: 1px solid green;
    max-width: 1240px;
    justify-content: center;
    display: flex;
}

.main__text {
    text-align: center;
}


